.mybg{background-image: url(images/back.jpg);
  background-repeat:repeat;
  background-size: contain;

}
.main
{
  scroll-behavior: smooth;
  height: 150px;
}
.formcontent
{
padding:1%;
margin:1%;
border-radius: 4%;
color:palevioletred;
background-color:rgb(170, 245, 30);
}
.formbtn
{
  padding:1%;
  margin:1%;
width:10%;
border:none;
font-weight: bolder;
background-color: #1b1b1b;
color:#eee;
}
.formbtn:hover
{ background-color: rgb(170, 245, 30);
  border:solid #411ce2;
  cursor:pointer;
  border-radius:6px;
  color:red;
  background-image: url(preview.jpg),url(play.png);
  baclground-repeat:no repeat;
  background-size: contain;
.opa
  {
    animation-name: anim1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
  
  
  }
  .hel
  {
    animation-name: anim1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
.contactform
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin: 2%;
margin-left: 35%;
padding: 2%;
border: chartreuse;
border-radius: 40px;
}
@keyframes anim1
{
  0% {opacity:100%;}
  100% {opacity:60%;}
  .